// Place all the styles related to the pets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chk-div{
	padding:0 !important;
	.chk{
		margin: auto;
		width: 100%;
	}
}

